<h1 class="underlined">Log in:</h1>

<p><%= flash[:message] %></p>
<br>
<%= form_for :user do |f| %>                                   
    <%= f.label :email, class: "form_label" %>       
    <%= f.email_field :email %> 
    <br>
    <br>
    <%= f.label :password, class: "form_label" %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit "Log In" %>
<% end %>
<br>
<br>
<%= link_to('Log in with Github', '/auth/github/', method: :post) %>
<br>
<br>
<%= link_to "Sign Up", 'users/new'  %>